@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CableTaskTrack</h1>
    <p class="lead">Keep track of all the work you did on each Job!</p>
    @* <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> *@
</div>



<div class="row">
    <div class="col-md-4";“margin-top: 50px;”>
        <h2>CableTaskTracker</h2>
        <p><a href="@Url.Action("Create", "Job")"><button type="button" class="btn btn-info">Create Jobs &raquo;</button></a></p>
        <p>
            CableTaskTracker keep track of all the task you have completed on each job.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Add Customers</h2>
        <p><a href="@Url.Action("Create", "Customer")"><button type="button" class="btn btn-info">Create Customers &raquo;</button></a></p>
        <p>
            Add a customer for your Job by getting the customerID.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Add Task</h2>
        <p><a href="@Url.Action("Create", "Task")"><button type="button" class="btn btn-info">Add Task &raquo;</button></a></p>
        <p>Add a task for your Job</p>

    </div>
</div>